# Backend API URL
VITE_BACKEND_URL=http://localhost:8000

// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyCAaWur6dOtV4CuoPqJpOqp4zs3GWap9E8",
  authDomain: "investor-doc-finder.firebaseapp.com",
  projectId: "investor-doc-finder",
  storageBucket: "investor-doc-finder.firebasestorage.app",
  messagingSenderId: "615109960564",
  appId: "1:615109960564:web:66e0cff3c25804b48ac221",
  measurementId: "G-6C42P89MGJ"
};