rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /savedDocs/{userId}/docs/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /searchHistory/{userId}/searches/{searchId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
